<a href="https://colab.research.google.com/github/dthomas529/Data-entry-processing-visualization-/blob/main/Data_Process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sources for importing dataset:


*   Excel
*   CSV


*   PDF
*   Word

*   JSON
*   DB

In [4]:
# retrieve data from excel
import openpyxl
import pandas as pd
import numpy as np


# Load the workbook
file_path = "/content/sample_data/Daily and Monthly Sales Record Book.xlsx"
workbook = openpyxl.load_workbook(file_path)

# Specify the sheet name to open
sheet_name = "DailyWeekly #1"
if sheet_name in workbook.sheetnames:
  sheet = workbook(sheet_name)
  print(f"Successfully opened sheet '{sheet_name}'")
else:
  print(f"Sheet '{sheet_name}' not found in the workbook")

Sheet 'DailyWeekly #1' not found in the workbook

In [ ]:
# retrieve data from CSV
# pip install pandas xlswriter
import pandas as pd
import numpy as np

# Reads the CSV file
pandas.read_csv("/content/sample_data/california_housing_test.csv")
DataFrame.to_excel("NewFile Name.xlsx")

In [ ]:
# retrieve data from Word
from docx import Document
import pandas as pd
import numpy as np

# Load the Word document
doc_path = ("/content/sample_data/Invoice.docx")
doc = Document(doc_path)

# Extract text from the document
doc = Document(doc_path)

# Initialize lists to store extracted data
"Invoice Number": [],
"Invoice Date": [],
"Invoice Total": [],
"Customer Name": [],
"Customer Address": [],
"Customer City": [],
"Customer State": [],
"Customer Zip": [],

# Extract text from the Word document
for paragraph in doc.paragraphs:
    text = paragraph.text.strip()
    if text:
        # Basic data extraction logic
        if "@" in text and "gmail.com" in text:
            email = text.split(" ")[-1]
            data["Email Address"].append(email)
        elif "http" in text:
            data["Website URL"].append(text)
        elif "(" in text and ")" in text:
            phone = text
            data["Phone Number"].append(phone)
        elif "Concord, NC" in text:
            data["City"].append("Concord")
        else:
            # Placeholder for any full names or company names
            data["Full Name"].append(text)

# Adjust lengths of lists to ensure compatibility in DataFrame creation
max_len = max(len(v) for v in data.values())
for key in data.keys():
    while len(data[key]) < max_len:
        data[key].append("")

# Create a DataFrame and save it to an Excel file
df = pd.DataFrame(data)
output_path = "/mnt/data/Formatted_Data.xlsx"
df.to_excel(output_path, index=False)

output_path

In [ ]:
# retrieve data from PDF
import pdfplumber
import re
import pandas as pd
import numpy as np

def extract_invoice_data(pdf_path, output_excel=None):
    """
    Extract specific fields from an unstructured PDF (e.g., invoices).

    Parameters:
        pdf_path (str): Path to the PDF file.
        output_excel (str, optional): Path to save the extracted data as an Excel file.

    Returns:
        pd.DataFrame: Extracted data in a structured format.
    """
    extracted_data = []

    try:
        with pdfplumber.open(pdf_path) as pdf:
            for page_number, page in enumerate(pdf.pages, start=1):
                text = page.extract_text()
                if text:
                    # Example: Extract fields using regex
                    invoice_number = re.search(r"Invoice Number[:\\s]*([A-Za-z0-9-]+)", text)
                    date = re.search(r"Date[:\\s]*([0-9/.-]+)", text)
                    total = re.search(r"Total[:\\s]*\\\\$?([0-9,]+\\.[0-9]{2})", text)

                    extracted_data.append({
                        "Page": page_number,
                        "Invoice Number": invoice_number.group(1) if invoice_number else None,
                        "Date": date.group(1) if date else None,
                        "Total": total.group(1) if total else None
                    })

        df = pd.DataFrame(extracted_data)

        if output_excel:
            df.to_excel(output_excel, index=False)

        print("Data extraction complete.")
        return df

    except Exception as e:
        print(f"An error occurred: {e}")
        return pd.DataFrame()

# Example usage
if __name__ == "__main__":
    pdf_path = "invoice.pdf"  # Replace with the path to your PDF
    output_excel = "invoice_data.xlsx"  # Replace with the desired output file path

    extracted_df = extract_invoice_data(pdf_path, output_excel)
    print(extracted_df)

# Basic operations


*   Exploring Data

In [ ]:
df.shape

(504, 13)

In [ ]:
df.info

<bound method DataFrame.info of            Order ID Order Date     Customer Name      Segment         City  \
0    NC-2016-152155 2016-11-18      Claire Gates     Consumer   Louisville
1    NC-2016-152156        NaT      Johnny Jones     Consumer    Lexington
2    NC-2016-152157 2016-11-20        Abby Young    Corporate    Owensboro
3    NC-2016-152158 2016-11-21       Lisa Miller  Home Office    Covington
4    NC-2016-152159 2016-11-22     Jake Richards     Consumer    Henderson
..              ...        ...               ...          ...          ...
499  NC-2018-152654 2018-04-01      Lucila Tiger    Corporate    Henderson
500  NC-2018-152655 2018-04-02  Marybelle Ensign  Home Office    Henderson
501  NC-2018-152656        NaT      Johnny Jones     Consumer    Henderson
502  NC-2018-152657 2018-04-04     Carmen Caylor    Corporate  Morrisville
503  NC-2018-152658 2018-04-05    Coretta Harris    Corporate  Morrisville

              State Region         Category Sub-Category  Product Name  Sales  \
0          Kentucky  South        Furniture    Bookcases  Bush Sommers    NaN
1          Kentucky  South  Office Supplies        Paper  Bush Sommers  57.34
2         Tennessee  South       Technology       Phones           NaN  34.43
3               NaN  South        Furniture    Bookcases  Bush Sommers  34.56
4         Tennessee  South       Technology  Accessories  Bush Sommers  33.34
..              ...    ...              ...          ...           ...    ...
499        Kentucky   East       Technology       Phones  Bush Sommers  89.67
500        Kentucky  South        Furniture    Bookcases  Bush Sommers  46.74
501        Kentucky   West       Technology  Accessories  Bush Sommers    NaN
502  North Carolina  South  Office Supplies        Paper      3M Paper  68.89
503  North Carolina  South  Office Supplies        Paper      3M Paper  56.45

     Quantity   Profit
0        34.0     0.00
1        56.0  3211.04
2        67.0  2306.81
3        27.0   933.12
4        45.0  1500.30
..        ...      ...
499      25.0  2241.75
500      67.0  3131.58
501      86.0     0.00
502      34.0  2342.26
503      23.0  1298.35

[504 rows x 13 columns]>

In [ ]:
print(df.head(5))

         Order ID Order Date  Customer Name      Segment        City  \
0  NC-2016-152155 2016-11-18   Claire Gates     Consumer  Louisville
1  NC-2016-152156        NaT   Johnny Jones     Consumer   Lexington
2  NC-2016-152157 2016-11-20     Abby Young    Corporate   Owensboro
3  NC-2016-152158 2016-11-21    Lisa Miller  Home Office   Covington
4  NC-2016-152159 2016-11-22  Jake Richards     Consumer   Henderson

       State Region         Category Sub-Category  Product Name  Sales  \
0   Kentucky  South        Furniture    Bookcases  Bush Sommers    NaN
1   Kentucky  South  Office Supplies        Paper  Bush Sommers  57.34
2  Tennessee  South       Technology       Phones           NaN  34.43
3        NaN  South        Furniture    Bookcases  Bush Sommers  34.56
4  Tennessee  South       Technology  Accessories  Bush Sommers  33.34

   Quantity   Profit
0      34.0     0.00
1      56.0  3211.04
2      67.0  2306.81
3      27.0   933.12
4      45.0  1500.30

In [ ]:
print(df.tail(10))

           Order ID Order Date       Customer Name      Segment         City  \
494  NC-2018-152649 2018-03-27        William Long     Consumer    Henderson
495  NC-2018-152650 2018-03-28         Mason Young    Corporate  Morrisville
496  NC-2018-152651 2018-03-29      Madison Carter    Corporate  Morrisville
497  NC-2018-152652 2018-03-30       Liam Peterson          NaN    Henderson
498  NC-2018-152653 2018-03-31  Annelle Ziolkowski     Consumer    Henderson
499  NC-2018-152654 2018-04-01        Lucila Tiger    Corporate    Henderson
500  NC-2018-152655 2018-04-02    Marybelle Ensign  Home Office    Henderson
501  NC-2018-152656        NaT        Johnny Jones     Consumer    Henderson
502  NC-2018-152657 2018-04-04       Carmen Caylor    Corporate  Morrisville
503  NC-2018-152658 2018-04-05      Coretta Harris    Corporate  Morrisville

              State Region         Category Sub-Category  Product Name  Sales  \
494        Kentucky   West       Technology  Accessories  Bush Sommers  23.45
495  North Carolina  South  Office Supplies        Paper      3M Paper  56.76
496  North Carolina  South  Office Supplies        Paper      3M Paper  89.99
497        Kentucky  South        Furniture    Bookcases  Bush Sommers  33.34
498        Kentucky  South  Office Supplies        Paper  Bush Sommers  87.56
499        Kentucky   East       Technology       Phones  Bush Sommers  89.67
500        Kentucky  South        Furniture    Bookcases  Bush Sommers  46.74
501        Kentucky   West       Technology  Accessories  Bush Sommers    NaN
502  North Carolina  South  Office Supplies        Paper      3M Paper  68.89
503  North Carolina  South  Office Supplies        Paper      3M Paper  56.45

     Quantity   Profit
494      23.0   539.35
495      45.0  2554.20
496      45.0  4049.55
497      45.0  1500.30
498      34.0  2977.04
499      25.0  2241.75
500      67.0  3131.58
501      86.0     0.00
502      34.0  2342.26
503      23.0  1298.35


*   Selecting Data

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('Sample_Worksheet.xlsx')

In [ ]:
df.head(0)

Empty DataFrame
Columns: [Order ID, Order Date, Customer Name, Segment, City, State, Region, Category, Sub-Category, Product Name, Sales, Quantity, Profit]
Index: []

In [ ]:
df["Order Date"]

0     2016-11-18
1            NaT
2     2016-11-20
3     2016-11-21
4     2016-11-22
         ...
499   2018-04-01
500   2018-04-02
501          NaT
502   2018-04-04
503   2018-04-05
Name: Order Date, Length: 504, dtype: datetime64[ns]

In [ ]:
df[["Order Date", "Sales"]]

    Order Date  Sales
0   2016-11-18    NaN
1          NaT  57.34
2   2016-11-20  34.43
3   2016-11-21  34.56
4   2016-11-22  33.34
..         ...    ...
499 2018-04-01  89.67
500 2018-04-02  46.74
501        NaT    NaN
502 2018-04-04  68.89
503 2018-04-05  56.45

[504 rows x 2 columns]

In [ ]:
# selection by position
df.iloc[0]

Order ID              NC-2016-152155
Order Date       2016-11-18 00:00:00
Customer Name           Claire Gates
Segment                     Consumer
City                      Louisville
State                       Kentucky
Region                         South
Category                   Furniture
Sub-Category               Bookcases
Product Name            Bush Sommers
Sales                            NaN
Quantity                        34.0
Profit                           0.0
Name: 0, dtype: object

In [ ]:
# selection by index
df.loc[0]

Order ID              NC-2016-152155
Order Date       2016-11-18 00:00:00
Customer Name           Claire Gates
Segment                     Consumer
City                      Louisville
State                       Kentucky
Region                         South
Category                   Furniture
Sub-Category               Bookcases
Product Name            Bush Sommers
Sales                            NaN
Quantity                        34.0
Profit                           0.0
Name: 0, dtype: object

In [ ]:
# using df.iloc[ ]displays all fields on first row beginning with position O
df.iloc[0,:]

Order ID              NC-2016-152155
Order Date       2016-11-18 00:00:00
Customer Name           Claire Gates
Segment                     Consumer
City                      Louisville
State                       Kentucky
Region                         South
Category                   Furniture
Sub-Category               Bookcases
Product Name            Bush Sommers
Sales                            NaN
Quantity                        34.0
Profit                           0.0
Name: 0, dtype: object

In [ ]:
# returns the value in the first row, first column
df.iloc[0,0]

'NC-2016-152155'

# Data Cleaning



*   NaN

In [ ]:
df.isnull()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
0,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,False,False,False,False,False,False,False,False,False,False,False,False,False
500,False,False,False,False,False,False,False,False,False,False,False,False,False
501,False,True,False,False,False,False,False,False,False,False,True,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.notnull()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
0,True,True,True,True,True,True,True,True,True,True,False,True,True
1,True,False,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,False,True,True,True
3,True,True,True,True,True,False,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,True,True,True,True,True,True,True,True,True,True,True,True,True
500,True,True,True,True,True,True,True,True,True,True,True,True,True
501,True,False,True,True,True,True,True,True,True,True,False,True,True
502,True,True,True,True,True,True,True,True,True,True,True,True,True
503,True,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
df.dropna()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
4,NC-2016-152159,2016-11-22,Jake Richards,Consumer,Henderson,Tennessee,South,Technology,Accessories,Bush Sommers,33.34,45.0,1500.30
5,NC-2016-152158,2016-11-23,Louis Price,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,87.56,34.0,2977.04
6,NC-2016-152158,2016-11-24,Victor Matthews,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,89.67,25.0,2241.75
10,NC-2016-152165,2016-11-28,Emma Richardson,Home Office,Henderson,South Carolina,South,Furniture,Bookcases,Bush Sommers,56.45,23.0,1298.35
11,NC-2016-152166,2016-11-29,Olivia Perry,Consumer,Henderson,Virginia,South,Technology,Accessories,Bush Sommers,34.23,12.0,410.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,NC-2018-152653,2018-03-31,Annelle Ziolkowski,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,87.56,34.0,2977.04
499,NC-2018-152654,2018-04-01,Lucila Tiger,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,89.67,25.0,2241.75
500,NC-2018-152655,2018-04-02,Marybelle Ensign,Home Office,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,46.74,67.0,3131.58
502,NC-2018-152657,2018-04-04,Carmen Caylor,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,68.89,34.0,2342.26
503,NC-2018-152658,2018-04-05,Coretta Harris,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,56.45,23.0,1298.35

In [ ]:
df.dropna(axis=1)

            City Region
0     Louisville  South
1      Lexington  South
2      Owensboro  South
3      Covington  South
4      Henderson  South
..           ...    ...
499    Henderson   East
500    Henderson  South
501    Henderson   West
502  Morrisville  South
503  Morrisville  South

[504 rows x 2 columns]

In [ ]:
df.fillna('Empty')

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
0,NC-2016-152155,2016-11-18 00:00:00,Claire Gates,Consumer,Louisville,Kentucky,South,Furniture,Bookcases,Bush Sommers,Empty,34.0,0.0
1,NC-2016-152156,Empty,Johnny Jones,Consumer,Lexington,Kentucky,South,Office Supplies,Paper,Bush Sommers,57.34,56.0,3211.04
2,NC-2016-152157,2016-11-20 00:00:00,Abby Young,Corporate,Owensboro,Tennessee,South,Technology,Phones,Empty,34.43,67.0,2306.81
3,NC-2016-152158,2016-11-21 00:00:00,Lisa Miller,Home Office,Covington,Empty,South,Furniture,Bookcases,Bush Sommers,34.56,27.0,933.12
4,NC-2016-152159,2016-11-22 00:00:00,Jake Richards,Consumer,Henderson,Tennessee,South,Technology,Accessories,Bush Sommers,33.34,45.0,1500.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,NC-2018-152654,2018-04-01 00:00:00,Lucila Tiger,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,89.67,25.0,2241.75
500,NC-2018-152655,2018-04-02 00:00:00,Marybelle Ensign,Home Office,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,46.74,67.0,3131.58
501,NC-2018-152656,Empty,Johnny Jones,Consumer,Henderson,Kentucky,West,Technology,Accessories,Bush Sommers,Empty,86.0,0.0
502,NC-2018-152657,2018-04-04 00:00:00,Carmen Caylor,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,68.89,34.0,2342.26
503,NC-2018-152658,2018-04-05 00:00:00,Coretta Harris,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,56.45,23.0,1298.35

In [ ]:
# displays the opposite of isnull()
df.notnull()

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,True,True,True,True,True,True,True,True,True,True,True,True,True
500,True,True,True,True,True,True,True,True,True,True,True,True,True
501,True,True,True,True,True,True,True,True,True,True,True,True,True
502,True,True,True,True,True,True,True,True,True,True,True,True,True
503,True,True,True,True,True,True,True,True,True,True,True,True,True

# Filter, Sort, and Group By

*   .loc[ ]
*   iloc[ ]

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('Sample_Worksheet.xlsx')

In [ ]:
df.shape

(504, 13)

In [ ]:
df.head(0)

Empty DataFrame
Columns: [Order ID, Order Date, Customer Name, Segment, City, State, Region, Category, Sub-Category, Product Name, Sales, Quantity, Profit]
Index: []

In [ ]:
df.iloc[0,:]

Order ID              NC-2016-152155
Order Date       2016-11-18 00:00:00
Customer Name           Claire Gates
Segment                     Consumer
City                      Louisville
State                       Kentucky
Region                         South
Category                   Furniture
Sub-Category               Bookcases
Product Name            Bush Sommers
Sales                            NaN
Quantity                        34.0
Profit                           0.0
Name: 0, dtype: object

In [ ]:
s = df.iloc[0:1]
print(s)

Order ID              NC-2016-152155
Order Date       2016-11-18 00:00:00
Customer Name           Claire Gates
Segment                     Consumer
City                      Louisville
State                       Kentucky
Region                         South
Category                   Furniture
Sub-Category               Bookcases
Product Name            Bush Sommers
Sales                         261.96
Quantity                          34
Profit                       8906.64
Name: 0, dtype: object

In [ ]:
df.iloc[0,0]

'NC-2016-152155'


*   Rename columns

In [ ]:
# renames columns
df.rename(columns={"Order Date":"Date of Order", "Category":"Division","Sub-Category":"Sub-Division", "Product Name":"Name of Product"})

,Order ID,Date of Order,Customer Name,Segment,City,State,Region,Division,Sub-Division,Name of Product,Sales,Quantity,Profit
0,NC-2016-152155,2016-11-18,Claire Gates,Consumer,Louisville,Kentucky,South,Furniture,Bookcases,Bush Sommers,NaN,34.0,0.00
1,NC-2016-152156,NaT,Johnny Jones,Consumer,Lexington,Kentucky,South,Office Supplies,Paper,Bush Sommers,57.34,56.0,3211.04
2,NC-2016-152157,2016-11-20,Abby Young,Corporate,Owensboro,Tennessee,South,Technology,Phones,NaN,34.43,67.0,2306.81
3,NC-2016-152158,2016-11-21,Lisa Miller,Home Office,Covington,NaN,South,Furniture,Bookcases,Bush Sommers,34.56,27.0,933.12
4,NC-2016-152159,2016-11-22,Jake Richards,Consumer,Henderson,Tennessee,South,Technology,Accessories,Bush Sommers,33.34,45.0,1500.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,NC-2018-152654,2018-04-01,Lucila Tiger,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,89.67,25.0,2241.75
500,NC-2018-152655,2018-04-02,Marybelle Ensign,Home Office,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,46.74,67.0,3131.58
501,NC-2018-152656,NaT,Johnny Jones,Consumer,Henderson,Kentucky,West,Technology,Accessories,Bush Sommers,NaN,86.0,0.00
502,NC-2018-152657,2018-04-04,Carmen Caylor,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,68.89,34.0,2342.26
503,NC-2018-152658,2018-04-05,Coretta Harris,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,56.45,23.0,1298.35


*   Filtering

In [ ]:
# displays entire row where the column meets the specified criteria
df[df["Profit"] > 10000]

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
27,NC-2016-152182,2016-12-15,Jeffie Parnell,Corporate,Morrisville,Arizona,West,Office Supplies,Paper,3M Paper,261.96,67,17551.32
55,NC-2017-152210,2017-01-12,Louis Price,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
83,NC-2017-152238,2017-02-09,Margrett Pascal,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
111,NC-2017-152266,2017-03-09,Melida Waiters,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
139,NC-2017-152294,2017-04-06,Troy Guel,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
167,NC-2017-152322,2017-05-04,Abby Young,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
210,NC-2017-152365,2017-06-16,Olivia Perry,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,261.96,67,17551.32
238,NC-2017-152393,2017-07-14,Nellie Porter,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,261.96,67,17551.32
281,NC-2017-152436,2017-08-26,Abby Young,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
309,NC-2017-152464,2017-09-23,Shera Seats,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
337,NC-2017-152492,2017-10-21,Sophia Martinez,Consumer,Richmond,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
365,NC-2017-152520,2017-11-18,Emma Richardson,Consumer,Louisville,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
393,NC-2017-152548,2017-12-16,Murray Milardo,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
421,NC-2018-152576,2018-01-13,Margrett Pascal,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
464,NC-2018-152619,2018-02-25,Roxie Galyean,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,261.96,67,17551.32
492,NC-2018-152647,2018-03-25,Olivia Perry,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,261.96,67,17551.32

In [ ]:
df[(df["Sales"] < 5000) & (df["Profit"] > 10000)]

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
27,NC-2016-152182,2016-12-15,Jeffie Parnell,Corporate,Morrisville,Arizona,West,Office Supplies,Paper,3M Paper,261.96,67,17551.32
55,NC-2017-152210,2017-01-12,Louis Price,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
83,NC-2017-152238,2017-02-09,Margrett Pascal,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
111,NC-2017-152266,2017-03-09,Melida Waiters,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
139,NC-2017-152294,2017-04-06,Troy Guel,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
167,NC-2017-152322,2017-05-04,Abby Young,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,261.96,67,17551.32
210,NC-2017-152365,2017-06-16,Olivia Perry,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,261.96,67,17551.32
238,NC-2017-152393,2017-07-14,Nellie Porter,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,261.96,67,17551.32
281,NC-2017-152436,2017-08-26,Abby Young,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
309,NC-2017-152464,2017-09-23,Shera Seats,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
337,NC-2017-152492,2017-10-21,Sophia Martinez,Consumer,Richmond,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
365,NC-2017-152520,2017-11-18,Emma Richardson,Consumer,Louisville,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
393,NC-2017-152548,2017-12-16,Murray Milardo,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
421,NC-2018-152576,2018-01-13,Margrett Pascal,Consumer,Henderson,Kentucky,South,Office Supplies,Paper,Bush Sommers,261.96,67,17551.32
464,NC-2018-152619,2018-02-25,Roxie Galyean,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,261.96,67,17551.32
492,NC-2018-152647,2018-03-25,Olivia Perry,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,261.96,67,17551.32



*   Sorting

In [ ]:
# sort by specified column in ascending order
df.sort_values("Order Date", ascending=False)

,Order ID,Order Date,Customer Name,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Profit
503,NC-2018-152658,2018-04-05,Coretta Harris,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,56.45,23,1298.35
502,NC-2018-152657,2018-04-04,Carmen Caylor,Corporate,Morrisville,North Carolina,South,Office Supplies,Paper,3M Paper,68.89,34,2342.26
501,NC-2018-152656,2018-04-03,Johnny Jones,Consumer,Henderson,Kentucky,West,Technology,Accessories,Bush Sommers,78.89,86,6784.54
500,NC-2018-152655,2018-04-02,Marybelle Ensign,Home Office,Henderson,Kentucky,South,Furniture,Bookcases,Bush Sommers,46.74,67,3131.58
499,NC-2018-152654,2018-04-01,Lucila Tiger,Corporate,Henderson,Kentucky,East,Technology,Phones,Bush Sommers,89.67,25,2241.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,NC-2016-152158,2016-11-22,Jake Richards,Consumer,Henderson,Tennessee,South,Technology,Accessories,Bush Sommers,33.34,45,1500.30
3,NC-2016-152158,2016-11-21,Lisa Miller,Home Office,Covington,Tennessee,South,Furniture,Bookcases,Bush Sommers,34.56,27,933.12
2,NC-2016-152157,2016-11-20,Abby Young,Corporate,Owensboro,Tennessee,South,Technology,Phones,Bush Sommers,34.43,67,2306.81
1,NC-2016-152156,2016-11-19,Johnny Jones,Consumer,Lexington,Kentucky,South,Office Supplies,Paper,Bush Sommers,57.34,56,3211.04
0,NC-2016-152155,2016-11-18,Claire Gates,Consumer,Louisville,Kentucky,South,Furniture,Bookcases,Bush Sommers,261.96,34,8906.64

In [ ]:
df.to_excel('Updated_Sample_Worksheet.xlsx')